.root {
    /* bootstrap colors */
    --success: #5cb85c;
    --info: #5bc0de;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --primary: #337ab7;
}

/* style to make the element on bottom right side of the screen */
body {
    background-color: #121212;
    color: white;
}
.self {
    position: relative;
    background-color: var(--primary);
    bottom: 0;
    right: 0;
}

/* style to make the element on bottom left side of the screen */
.other {
    position: relative;
    background-color: var(--warning);
    bottom: 0;
    left: 0;    
}

#msg-input {
    height: 75px;
    font-size: large;
    box-shadow: none;
    background-color: #4e4e4e54;
    border:none;
    color: white;
    resize: none;
}
#msg-input::-webkit-scrollbar {
    display: none
}

#send-msg-area {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 8px
}

#send-btn {
    box-shadow: none;
    height: 60px
}

#receive-message-area {
    margin-top: 20px;
    border: 1px solid #28a745;
    height: 75vh;
    /* display: grid; */
    /* place-items: center; */
    overflow-y: scroll;
}

#joined {
    border: 1px solid #28a745;
    height: 75vh;
    width: 30vh;
    /* display: grid; */
    /* place-items: center; */
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }